{%- comment -%}
  @param show_by {String}
         Current pagination value
{%- endcomment -%}

{% assign show_by_values = '24|36|48' | split: '|' %}

{% assign url_base = '' %}
{% if collection.url != blank %}
  {% assign url_base = collection.url %}
{% elsif collection.current_vendor %}
  {% assign url_base = collection.current_vendor | url_for_vendor %}
{% elsif collection.current_type %}
  {% assign url_base = '/collections/' | append: collection.handle %}
{% endif %}

{% assign url_base = url_base | append: '/' %}
{% if current_tags %}
  {% assign tags_list = '' %}

  {% for tag in current_tags %}
    {% assign handle = tag | handle %}
    {% assign tags_list = tags_list | append: handle %}
    {% unless forloop.last == true %}
      {% assign tags_list = tags_list | append: '|' %}
    {% endunless %}
  {% endfor %}

  {% assign tags_segment = tags_list | split: '|' | join: '+' %}


  {% assign
    url_base = url_base
    | append: tags_segment
  %}
{% endif %}


<ul class="utils-showby">
  <li>
    <span class="utils-showby-title">
      {{ 'product_grid.show_per_page.title' | t }}
    </span>
  </li>

  {% if url_base contains '?' %}
    {% assign url_base = url_base | append: '&' %}
  {% else %}
    {% assign url_base = url_base | append: '?' %}
  {% endif %}

  {%- for value in show_by_values -%}
    {%- assign show_by_value = value | times: 1 -%}
    <li>
      <a
        class="utils-showby-item {% if show_by == show_by_value %}utils-showby-item--active{% endif %}"
        href="#"
        data-show-by="view-{{ show_by_value }}"
        aria-label="show {{ value }} items"
      >
        {{ value }}
      </a>
    </li>
  {%- endfor -%}
</ul>
