{% layout none %}

<html>
  <head>
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <script id="meteor-menu-data" type="application/json">
      {% include 'meteor-menu', load: 'data' %}
    </script>
  </body>
</html>
